#!/bin/sh 

set -e

# Source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0

# We only use the CPU devices on i386 so only try to make them there
if [ "$(uname -s)" = "Linux" ]; then
case "$(uname -m)" in
	i?86)
		if [ ! -c /dev/cpu/0/cpuid ]; then
			db_input low powertweak/creating_device_files || true
		fi
		;;
	*)
		;;
esac
fi

db_input low powertweak/daemon_config || true

db_go || true
